## Viper runner configuration file
## default preset - mostly to show off all options

## Only add one option per line.
## Options can be repeated.
## Some options take placeholders:
## 	@date@			the date and time (yyyy-mm-dd-hh-mm-ss) of the moment the benchmark was started.
##	@file_name@		the name of current input file
##	@path_name@		mashup of input file path and name to generate a unique name
##	@rep@			the current repetition of the same run configuration and file pair.
##	@config_name@	name of the current run configuration.

## Folder that contains the tests. Only .sil files will be respected.
# test_folder /path/to/tests

## File listing all tests to run
test_files_in_file tests-warmup.txt

## Tests can be ignored.
## Note: paths may be relative but cannot contain wildcards.
## Note: does only work with test_folder, not yet with test_files_in_file.
#ignore domains.sil
#ignore sequences/nil.sil

## Print files included in benchmark before benchmark starts
list_files 1

## Disable accessibility checking of files
# check_files_accessible 0

## Whether or not the output of underlying processes should be collected.
## The stdout output is written to stdout_file if the option is set, stdout otherwise.
## 
## The output file may contain any placeholder.
print_process_output 1
# stdout_file results/@date@/output/@config_name@/@path_name@_@rep@_stdout.txt
# stderr_file results/@date@/output/@config_name@/@path_name@_@rep@_stderr.txt

## Number of repetitions for a single test file with the same run configuration.
repetitions 2

## Timeout in seconds for a single run for one input file.
## 0 or smaller values set the timeout to infinity.
timeout 200

## Name of the ouput files (csv) with timings.
## May contain the following placeholders: @date@
timing_csv results/@date@/timings.csv
per_config_timing_csv results/@date@/per_config_timings.csv
avg_per_config_timing_csv results/@date@/avg_per_config_timings.csv

## Add run configurations
##
## Run configurations can be named by supplying a config_name.
## The name is applied to the last mentionned run_configuration. The indentation for 'config_name' is optional.
## If no name is supplied, the name is simply 'run_config_n', where this config is the nth config.
##
## If run configurations are supplied all default ones get deleted and replaced by those listed in this file.
## Arguments get added to the last mentionned run_configuration. The indentation for 'arg' is optional.
## Arguments may contain any placeholder.
##
## Note: Timings are not reliable if the underlying process is doing a lot of IO work (e.g printing .bpl files)!

RUN_CONFIGURATION base_cT250
	CMD /home/developer/source/viper-runner/scripts/silicon.sh --mode nailgun -- --numberOfParallelVerifiers 1 --checkTimeout 250
	PRE_ROUND_CMD /home/developer/source/viper-runner/scripts/ng-server.sh --restart fatjars/silicon-base.jar
	PRE_ROUND_CMD /home/developer/source/viper-runner/scripts/warmup-silicon.sh
	POST_ROUND_CMD pkill -e -9 z3
 
RUN_CONFIGURATION base_cT10
	CMD /home/developer/source/viper-runner/scripts/silicon.sh --mode nailgun -- --numberOfParallelVerifiers 1 --checkTimeout 10
	PRE_ROUND_CMD /home/developer/source/viper-runner/scripts/ng-server.sh --restart fatjars/silicon-base.jar
	PRE_ROUND_CMD /home/developer/source/viper-runner/scripts/warmup-silicon.sh
	POST_ROUND_CMD pkill -e -9 z3

# run_configuration ../silicon/silicon.bat
#   config_name silicon
#   arg --z3LogFile results/@date@/solver_traces/@config_name@/@path_name@.smt2
##  arg --statisticsFile results/@date@/silicon_stats/@config_name@/stats.csv
