# Viper runner configuration file
# carbon benchmark preset:
#	- prints stdout & stderr to /devnull
#	- runs Z3 and CVC4

test_folder ../silver/src/test/resources/all
print_process_output 0

run_configuration ../carbon/carbon.bat
	config_name z3
run_configuration ../carbon/carbon.bat
	config_name cvc4
	arg --boogieOpt /p:SOLVER=CVC4

repetitions 5
timeout 200
timing_csv results/@date@/timings.csv
per_config_timing_csv results/@date@/per_config_timings.csv
avg_per_config_timing_csv results/@date@/avg_per_config_timings.csv