# Benchmark configuration file

# Only add one option per line.
# Options can be repeated.
# Some options take some placeholders:
# 	@date@		the date and time (yyyy-mm-dd-hh-mm-ss) of the moment the benchmark was started.
#	@file@		the current benchmark file
#	@rep@		the current repetition of the same run configuration and file pair.

# Folder that contains the tests. Only .sil files will be respected.
test_folder ../silver/src/test/resources/all

# Tests can be ignored.
# Note that paths may be relative but cannot contain wildcards.
#ignore domains.sil
#ignore sequences\nil.sil

# Whether or not the list of all benchmark files should be printed at the beginning.
#list_files 1

# Whether or not the output of underlying processes should be printed to the console.
print_process_output 1

# Add run configurations
#
# If run configurations are supplied all default ones get deleted and replaced by those listed in this file.
# Arguments get added to the last mentionned run_configuration. The indendation for 'arg' is optional.
# Arguments may contain any placeholder.
#
# Note: Timings are not reliable if the underlying process is doing a lot of IO work (e.g printing .bpl files)! 

#run_configuration ../carbon/carbon.bat
run_configuration ../carbon/carbon.bat
	arg --boogieOpt /p:SOLVER=CVC4
#	arg --print boogie_files/@file@.bpl

# Number of repetitions for a single test file with the same run configuration.
repetitions 5

# Timeout in seconds for a single test instance.
timeout 10

# Name of the ouput file (csv) with timings.
# May contain the following placeholders: @date@
timing_csv results/@date@/timings.txt