# Viper runner configuration file
# silicon_qp verbose preset:
#	- prints stdout & stderr into files
#	- collects solver interaction
#	- runs Z3 and CVC4

test_folder ../silver/src/test/resources/all
print_process_output 1
stdout_file results/@date@/output/@config_name@/@path_name@_stdout.txt
stderr_file results/@date@/output/@config_name@/@path_name@_stderr.txt

run_configuration ../silicon/silicon.bat
	config_name z3
	arg --prover z3
	arg --proverLogFile results/@date@/solver_traces/@config_name@/@path_name@.smt2
	arg --logLevel INFO
run_configuration ../silicon/silicon.bat
	config_name cvc4
	arg --prover cvc4
	arg --proverLogFile results/@date@/solver_traces/@config_name@/@path_name@.smt2
	arg --logLevel INFO
	
repetitions 1
timeout 300
timing_csv results/@date@/timings.csv
per_config_timing_csv results/@date@/per_config_timings.csv
avg_per_config_timing_csv results/@date@/avg_per_config_timings.csv