# Viper runner configuration file
# silicon_qp verbose preset:
#	- prints stdout & stderr into files
#	- collects solver interaction
#	- runs Z3 and CVC4

test_folder ../silver/src/test/resources
print_process_output 0

run_configuration ../silicon_qp/silicon.bat
	config_name z3
	arg --prover z3
run_configuration ../silicon_qp/silicon.bat
	config_name cvc4
	arg --prover cvc4

repetitions 5
timeout 200
timing_csv results/@date@/timings.csv
per_config_timing_csv results/@date@/per_config_timings.csv
avg_per_config_timing_csv results/@date@/avg_per_config_timings.csv