# Viper runner configuration file
# Fast test configuration.
# Designed for short runs to test functionality.

test_folder ../silver/src/test/resources/all/functions
ignore basic.sil
ignore functions.sil

print_process_output 1
stdout_file results/@date@/output/@config_name@/@path_name@_stdout.txt
stderr_file results/@date@/output/@config_name@/@path_name@_stderr.txt

run_configuration ../carbon/carbon.bat
	config_name z3
	arg --boogieOpt /proverLog:results/@date@/solver_traces/@config_name@/@path_name@.smt2
	arg --print results/@date@/boogie_files/@path_name@.bpl

repetitions 2
timeout 10
timing_csv results/@date@/timings.csv
per_config_timing_csv results/@date@/per_config_timings.csv
avg_per_config_timing_csv results/@date@/avg_per_config_timings.csv